.title
{
  font-family:poppins-semibold,poppins,sans-serif;
  font-weight: bold;
  font-size: 3rem;
  animation: fadeInDown;
  animation-duration: 2.5s;
}
.content
{
  color: black;
  text-align: center;
  padding-top: 13%;
}
.card
{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#Inicio
{
  background-image: url(../../assets/img/team.jpg);
  height: 55rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.filtro
{
  height: 55rem;
  background: rgba(225,137,196,0.41);
  background: -moz-linear-gradient(left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,137,196,0.41)), color-stop(54%, rgba(154,174,219,0.58)), color-stop(100%, rgba(93,205,239,0.41)));
  background: -webkit-linear-gradient(left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  background: -o-linear-gradient(left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  background: -ms-linear-gradient(left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  background: linear-gradient(to right, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e189c4', endColorstr='#5dcdef', GradientType=1 );
}
.filtroS
{
  height: 55rem;
  background: rgba(225,137,196,0.41);
  background: -moz-linear-gradient(left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,137,196,0.41)), color-stop(54%, rgba(154,174,219,0.58)), color-stop(100%, rgba(93,205,239,0.41)));
  background: -webkit-linear-gradient(left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  background: -o-linear-gradient(left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  background: -ms-linear-gradient(left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  background: linear-gradient(to right, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e189c4', endColorstr='#5dcdef', GradientType=1 );
}
.slogan
{
  line-height: 50px;
  padding-top: 25%;
  font-size: 3rem;
  font-family:poppins-semibold,poppins,sans-serif;
  color: #ffffff;
  animation-duration: 2s;
}
.desy
{
  width: 25rem;
  filter: opacity(50%);
  animation: fadeIn;
  animation-duration: 1.5s;
}
.drug
{
  width: 5rem;
  filter: opacity(50%);
  animation: fadeIn;
  animation-duration: 6s;
}
.imgParallax
{
  background-image: linear-gradient(to left, rgba(225,137,196,0.41) 0%, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%), url('../../assets/img/sanitiza.jpeg');
  width: 50%;
	height:55rem;
	background-attachment: fixed;
  background-position:top;
  background-repeat: no-repeat;
  filter: blur(1px);
	background-size: cover;
	position: relative;
}
.filtroAz
{
  width: 50%;
	height:55rem;
  height: 55rem;
  background: linear-gradient(to right, rgba(154,174,219,0.58) 54%, rgba(93,205,239,0.41) 100%);
}
.cardInf
{
  width: 19.9rem;
  left: -50%;
  margin-top: 20%;
  position: relative;

  animation-duration: 1.5s;

}
.nosotros
{
  position: relative;
  padding-top: 20%;
  left: -16%;
  color: #ffffff;
}
@media only screen and (max-width: 1000px) {
  .slogan{
    padding-top: 120%;
    line-height: 25px;
    font-size: 1.5rem;
  }
  #Inicio
  {
    height: 50rem;
  }
  .filtro
  {
    height: 50rem;
  }
  .filtroS
  {
    height: 60rem;
  }
  .nosotros
  {
    left: -56%;
  }
  .cardInf
  {
    left: -80%;
  }
}
