<!--<nav id="menu" class=" navbar-custom fixed-top navbar navbar-expand-lg navbar-dark">
  <a class=" logo mr-auto mt-2 mt-lg-0">
    <img src="assets/img/logo.png">
  </a>
  <button class="navbar-toggler navbar-toggler-right bg-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <div class="navbar-nav  text-center myNav">
      <a class="nav-link active Inicio" href="#Inicio">INICIO </a>
      <a class="nav-link Nosotros" href="#Nosotros">NOSOTROS</a>
      <a class="nav-link Equipos" href="#Equipos">EQUIPOS</a>
      <a class="nav-link Insumos" href="#Insumos">INSUMOS</a>
      <a class="nav-link Mantenimiento" href="#Mantenimiento">MANTENIMIENTO</a>
      <a class="nav-link Contacto" href="#Contacto">CONTACTO</a>
    </div>
  </div>
</nav>-->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <a class="navbar-brand logo" href="#"><img src="assets/img/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">INICIO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">EQUIPOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">CONTACTO</a>
      </li>
    </ul>
  </div>
</nav>

