<!-- Footer -->
<footer id="footer" class="page-footer font-small teal pt-4"  style="color: white; background-color: black;">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Informacion de contacto</h5><br>
        <i class=" iconos fas fa-phone"></i><i> +52 9616490753</i><br><br>
        <i class="fas fa-envelope"></i><i>info@ebiomex.com</i>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->



      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Ebiomex web version 0.0.0

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
